*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.header{
    height: 13vh;
    width: 100vw;
    background-color: rgb(214, 214, 216);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-itens {
    list-style: none;
}


#logo_base{
    height:80px;
    width: 80px;
}

.menu-itens{
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
    color: rgb(255, 153, 0);
}

.footer{
    height: 22vh;
    width: 100vw;
    background-image: url("/assets/img/bg.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    color: white;
}

#logo-rodape{
    width: 60px;
    height: 60px;
}
#rodape{
    color: white;
}

::-webkit-scrollbar {
    display: none;
}
